<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <!-- Latest compiled and minified Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <link rel="stylesheet" type="text/css" href="/css/style.css"/>

        <title>Booking</title>
    </head>
    <body>
        <div class="container">
            <h1>Massage booking</h1>
            <div class="form_group">
                <form method="POST, GET">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6 col-lg-offset-5 col-lg-2">
                            <h4>I'd like two appointments at the same time</h4>
                            <input type="checkbox" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10 col-lg-3">
                            <h3>Please enter your name!</h3>
                            <input type="text" name="name" placeholder="Your name" class="form-control"/>
                        </div>
                        <div class="col-lg-offset-4 col-lg-3">
                            <h3>Please enter your locker number!</h3>
                            <input id="lockerno" type="number" name="lockerno" placeholder="Your locker number" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
                            <label for="sel1">Please choose your massage length!</label>
                            <select class="form-control">
                                <option th:each="time, iterstat: ${lengths}" th:value="${time}" th:text="${time}"/>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10 col-lg-offset-0 col-lg-5">
                            <label for="sel1">Please choose your massage therapist!</label>
                            <select id="masseur" name="masseur" class="form-control">
                                <option th:each="name, iterstat: ${masseurs}" th:value="${name}" th:text="${name}"/>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
                            <label for="sel1">Please choose your massage length!</label>
                            <select id="length" name="length" class="form-control">
                                <option th:each="time, iterstat: ${lengths}" th:value="${time}" th:text="${time}"/>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
                            <label for="sel1">Please choose your massage starting time</label>
                            <select id="time" name="appointment" class="form-control">
                                <option th:each="time, iterstat: ${appointments}" th:value="${time}" th:text="${time}"/>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
                            <input th:onclick="'booking();'" type="submit" value="Book it!" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="/js/app.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.2.min.js"></script>
    </body>
</html>