<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- Latest compiled and minified Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <title>Booking</title>
</head>
<body>
<div class="form-style-10">
    <h1>Please enter your massage's details!<span>We will need your massage length, the appointment you'd like and your choosen masseur's name.</span></h1>
    <form action="#" th:action="@{/submitBooking}" th:object="${treatment}" method="post">
        <div class="section"><span>2</span>Name &amp; Locker number</div>
        <div class="inner-wrap">
            <label>Choose a massage therapist<select id="masseur" name="masseur" class="form-control">
                <option th:each="name, iterstat: ${masseurs}" th:value="${name}" th:text="${name}" th:field="*{massageTherapist}"/>
            </select></label>
            <label>Choose your massage length<select id="length" name="massage" class="form-control">
                <option th:each="massage, iterstat: ${massages}" th:value="${massage}"
                        th:text="${massage.key + ' min. - ' + massage.value + 'HUF'}" th:field="*{massage}"/>
            </select></label>
            <label>Choose your appointment<select id="time" name="appointment" class="form-control">
                <option th:each="time, iterstat: ${appointments}" th:value="${time}" th:text="${time}"/>
            </select></label>
            <input type="hidden" id="hiddenSessionName" th:value="${guestName}"/>
            <input type="hidden" id="hiddenSessionLockerNo" th:value="${lockerNo}"/>
        </div>

        <div class="button-section">
            <input type="submit" th:onclick="'booking();'" value="Book it!"/>
        </div>
    </form>
</div>

<script src="/js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.2.min.js"></script>
</body>
</html>